@font-face {
    font-family: my-norse-font;
    src: url(../fonts/Norse-Bold.otf);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    width: 100vw;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#logo{
    background:url(../images/halie-west-25xggax4bSA-unsplash.jpg) no-repeat center center;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 40vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


#logo-item1{
    background-color: rgba(0, 0, 0, 0.4);
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 20px;
    top: 100px;
    font-family: my-norse-font, sans-serif;
    color: white;
}

#logo-item2{
    position: absolute;
    bottom: 50px;
    left: 30%;
    color: white;
    font-size: 18px;
}

#logo-item2 > div > a{
    color: white;
}

#form{
    width: 60vw;
}

#form-head{
    background-color: rgb(247, 240, 240);
    padding: 50px;
}


#form-body{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px;

}

#form-bottom{
    background-color: rgb(247, 240, 240);
    padding: 40px 50px;
}

#form-item2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#name-section{
    display: flex;
    gap: 50px;
}

#mail-phone-section{
    display: flex;
    gap: 50px;
}

#password-section{
    display: flex;
    gap: 50px;
}
#item{
    display: flex;
    flex-direction: column;
    gap: 5px;
}



p{
    font-size: 2.3rem;
    font-weight: 550;
}

button{
    width: fit-content;
    background-color: #596D48;
    padding: 20px 40px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    
}


input{
    width: 300px;
    height: 40px;
    font-size: x-large;
    padding-left: 5px;
    border-radius: 10px;
    border: 5px solid #E5E7EB;
}

input:focus{
    border-color: blue;
    box-shadow: 0 0 2px #665df5;
    background-color: rgb(228, 222, 222);
}
  
input:invalid + span::before {
content: '✖';
color: red;
font-size: 20px;

}

input:valid + span::before {
content: ' ✓';
color: green;
font-size: 20px;
}

.triangle-left {
    display: inline;
	width: 0;
	height: 0;
	border-top: 30px solid transparent;
	border-left: 30px solid #555;
	border-bottom: 30px solid transparent;
}

.triangle-right {
    display: inline;
	width: 0;
	height: 0;
	border-top: 30px solid transparent;
	border-right: 30px solid rgb(76, 238, 76);
	border-bottom: 30px solid transparent;
}

a{
    text-decoration: none;
    color: #596D48;
}